<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}setec{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <style type="text/css">
                body {
                    padding-top: 60px;
                    background-color: #fdfdfd;
                }                
            </style>
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>  
        <div class="container">
            <div class="offset1 row">
                <h1>Erreur 404 !</h1>
                <div class="span5">
                    <p>
                        <img src="{{ asset('img/lapins-cretins.png') }}"/>
                    </p>
                    <a href="{{ path('sdz_blog_accueil') }}">Page d'accueil</a>
                </div>
                <div class="span4">
                    <p class="lead">
                        La page demandée n'existe pas (erreur 404).
                    <p>
                </div>
            </div>
        </div>
    </body>
</html>
