{% extends "::main.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    	.form-signin {
    		max-width: 300px;
    		padding: 29px;
    		margin: 40px auto;
    		/*background-color: #fff;
    		border: 1px solid #e5e5e5;
    		-webkit-border-radius: 5px;
    		-moz-border-radius: 5px;
    		border-radius: 5px;
    		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    		box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
    	}
    	.form-signin .form-signin-heading,
    	.form-signin .checkbox {
    		margin-bottom: 10px;
    	}
    	.form-signin input[type="text"],
    	.form-signin input[type="password"] {
    		font-size: 21px;
            height: auto;
            margin-bottom: 15px;
            padding: 9px 9px;
    	}
    	form>h2 {
    		font-size: 26px;
    	}
    </style>
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">

    {% block fos_user_content %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" class="input-block-level form-control" value="{{ last_username }}" required="required" />
            
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" class="input-block-level form-control" required="required" />

        <div class="controls form-inline">
            <label for="remember_me" class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} *
            </label>

            <button type="submit" class="btn btn-primary pull-right" id="_submit" name="_submit">
                <i class="icon-lock icon-white"></i> 
                {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </div>

        <!-- <a href="#mdpOublie" data-toggle="modal">Mot de passe oublié ?</a> -->

        <hr>
        * Ne cochez pas cette option si vous vous connectez depuis un ordinateur public.

        {% if error %}
            <hr>
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
    </form>

    {% endblock fos_user_content %}

    <div id="mdpOublie" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Récuperation du mot de passe</h3>
        </div>
        <div class="modal-body">
            <form method="post" id="get-credentials-form" class="span5">
                <p>Veuillez entrer l'adresse e-mail associée à votre compte</p>
                <input type="text" name="email" id="email-tf" class="span6 required">
                <div class="alert alert-error hide" style="display: none;"></div>
                <button data-dismiss="alert" class="close"></button>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
            <button class="btn btn-primary">Valider</button>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function()
    {
        $("#username").focus();
    });
</script>
{% endblock %}
